*{
  margin:0px;
  padding:0px;
}
body{
  background-color:rgba(196, 27, 230, 0.273);

}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.img {
  width: 300px;
}

.cart {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  justify-content: space-around;
  align-items: center;
}

.item-count div button{
    margin:14px;
    background-color: rgb(203, 235, 241);
    border: none;
    font-size: 2rem;
    font-weight: 500;
    width: 50px;
    height: 50px;
    text-align: center;
}
.item-detail{
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
    font-size: 1.5rem;
}
.item-detail img{
    width: 600px;
}
.item-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 15px;
    flex-wrap: wrap;
}

.item-list-container article{
    margin:15px;
}

.cart-section h1, .cart-section div{
  margin: 20px 0px;
}
.cart-section{
  padding: 30px 0px;
}

.cart-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 5px;
  padding: 15px 15px;
  background-color: rgba(211, 100, 211, 0.404);

}
.cart-div img{
  width: 200px;
}

.btn{
  margin:4px;
}